.intro {
  max-width: 77%;
  min-height: 429px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 1120px) {
  .intro {
    max-width: 91%;
    transition: 0.5s;
  }
 }