.photo-grid__items {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    margin: auto;
}

@media screen and (max-width:1120px) {
    .photo-grid__items {
        gap: 14px;
    }
}

@media screen and (max-width:960px) {
    .photo-grid__items {
        gap: 16px;
    }
}

@media screen and (max-width:480px) {
    .photo-grid__items {
        gap: 12px;
    }
}
